.sidebar .widget li:hover, .sidebar .widget a:hover {
    background-color: var(--light-highlight);
}
li.category-current,
.sidebar .widget h3,
#hamburger,
.header__nav li:hover,
a:focus,
li.tag-current a {
    background-color: var(--color-highlight);
}
.sidebar .widget {
    border-color: var(--color-highlight);
}
.sidebar .widget li:hover ul li:hover a {
    background-color: var(--light-highlight);
}
#gotop ::after, 
.post-cat a:link, 
.post-cat a:visited, 
.related-category a:link, 
.related-category a:visited, 
.arch-block h3, 
.dc-home .slick-dots li.slick-active button::before,
.header__nav li.active, 
.header__nav li.active a:link, 
.header__nav li.active a:visited,
.header a:hover,
.header a:focus,
h1.HomeLink::first-letter,
a {
    color: var(--color-highlight);
}
a,
.header__nav li.active {
    border-bottom-color: var(--color-highlight);
}
a:visited {
    border-bottom-color: var(--light-highlight);
    color: var(--light-highlight);
}
#hamburger,
.post-read-it .button {
    border-color: var(--light-highlight);
}

@media all and (max-width: 80em) {
    #search input[type="submit"] {
        background-color: var(--color-highlight);
    }
}
