#footer {
    color: $gray-medium;
    background-color: $dark-footer;
    padding: .5em 0 0;
    a, a:visited, a:active {
        color: $gray-medium;
        background-color: transparent;
        text-decoration: none;
        border: none;
    }
    a:hover {
        color: $gray-light;
    }
}
.footer__widgets {
    padding: 1em;
    background-color: $white;
    text-align: center;
    line-height: 2;
}
.blogcustom__title {
    @include visually-hidden;
}
.footer__widgets .widget {
    margin-top: 1em;
}
.footer__widgets h3 {
    margin-bottom: 0;
    font-size: 1em;
    font-weight: bold;
}
.footer__widgets ul {
    @include inline-block-list(.5em);
}
#bottomnav {
    text-align: center;
    padding: 0;
    margin-bottom: 0;
}
#bottomnav li {
    display: inline;
    padding: 0;
    margin: 0;
}
.credits {
    text-align: center;
    margin: 2em 0 5em;
}
#bottomlinks li {
    float: left;
    width: 153px;
    margin-left: 9px;
    text-align: left;
    // font-size: .85em;
    font-weight: bold;
}
#bottomlinks ul {
    list-style-type: none;
    padding: 0;
    margin:0;
}
#bottomlinks ul ul {
    margin-bottom: 10px;
}
#bottomlinks li li {
    font-size: .9em;
    float: none;
    margin: 0;
    font-weight: normal;
    width: 100%;
}
.UmiHomeLink.bottom {
    text-align: center;
    margin: 3.7em auto;
}