body {
    background: $white;
    color: $primary-color;
}
#main {
    background-color: $white;
    padding: 1em .5em 2em;
}
#page, #bottomlinks, .header-band {
    @include zen-grid-container();
    max-width: $large-screen;
    margin: 0 auto;
    padding: 0;
}

#wrapper {
    @include zen-grid-container();
}
.header {
    position: relative;
    }
@media all and(max-width: $small-screen) {
    #main {
        padding: .5em;
    }
}
@media screen and(min-width: ($xlarge-screen + .1em)) and(max-width: 110em) {
    #page, #bottomlinks, .header-band {
        max-width: 61.25em;
    }
    #main {
        @include zen-grid-item(9,1)
    }
    #sidebar {
        @include zen-grid-item(3,10);
    }
    .blognav__widgets, .blogextra__widgets {
        margin-left: 1.25em;
    }
}
@media screen and(min-width: 110.1em) {
    
    #page, #bottomlinks, .header-band {
        max-width: 61.25em;
    }
    
    #main {
        @include zen-grid-item(8,1)
    }
    #sidebar {
        @include zen-grid-item(4,9);
    }

}
