@media screen and(min-width: ($xlarge-screen + .1em)) {
    h1.HomeLink {
        font-size: 2rem;
        &::first-letter {
            font-size: 3rem;
        }    
    }
    .header-band {
        background: transparent url(img/ballon.png) no-repeat 97% 69%;
    }
    .follow-us {
        @include zen-grid-item(5,1);
        padding-top: 3.3rem;
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            li {
                display: inline;
                padding: 0 5px;
            }
        }
    
    }
    .banner {
        padding-top: 10px;
        margin-right: 3em;
        @include zen-grid-item(3,5);
        padding-left: 1.25em;
        }
    #search {
        @include zen-grid-item(3,10);
        background: transparent url(img/search-form.png) no-repeat;
        margin-top: 40px;
        padding: 0 0 0 25px;
        p {
            margin: 0;
        }
        input {
            border: none;
            background: transparent;
            padding: 5px 0;
            color: $white;
        }
        input#q {
            width: 155px;
            padding-left: 1.1em;
        }
        #q::placeholder { 
            font-style: italic;
        }
        input[type="submit"] {
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}
@media all and(max-width: $xlarge-screen) {
    h1.HomeLink {
        font-size: 1rem;
        &::first-letter {
            font-size: 1.5rem;
        }    
    }
    #balloon {
        display: none;
    }
    .banner {
        order: 0;
        width: 30%;
        margin-right: 15px;
    }
    #topcontainer {
        min-height: 55px;
        h1.HomeLink {
            text-align: left;
            margin-top: .5rem;
        }
    }
    .header-band {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 1em;
        nav {
            width: 100%;
            order: 2;
        }
        div {
            height: 2rem;
        }
    }
    .follow-us {
        order: 5;
        padding-bottom: 15px;
        text-align: center;
        padding-left: 3em;
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0 auto;
            li {
                display: inline;
                padding: 0 2px;
            }
        }
    
    }
    #search {
        order: 2;
        border-radius: 8px;
        border: 1px solid $gray-medium;
        margin-top: 10px;
        font-size: .95em;
        p {
            margin: 0;
            text-align: right;
        }
        input {
            border: none;
            background: transparent;
        }
        input#q {
            padding-left: 4px;
        }
        #q::placeholder {
            font-style: italic;
            opacity: .8;
        }
        input[type="submit"] {
            text-transform: uppercase;
            font-weight: bold;
            padding: 4px 4px;
            color: $white;
            background-color: $dark-green;
            border-radius: 0 8px 8px 0;
        }
    }
    .header__nav {
        max-height: 450px;
        width: 100%;
        overflow-y: auto;
        background-color: $white;
    }
}
h1.HomeLink {
    font-family: "playfair-display", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
    a, a:visited {
        color: $gray-very-dark;
    }
    &::first-letter {
        color: $dark-green;
    }
}
#balloon {
    position: absolute;
    top: 16px;
    left: 50%;
    max-width: 72em;
    width: 72em;
    margin-left: -43em;
    height: 165px;
    background: transparent url(img/ballon.png) no-repeat top right;
}
.header {
    position: relative;
    width: 100%;
    max-width: 100%;
    z-index: 1000;
    background: $white;
}
.header a:link,
.header a:visited {
    border-bottom-color: transparent;
}
.header a:hover,
.header a:focus {
    color: $link;
    border-bottom-color: transparent;
}
.skip-links {
    float: left;
    text-indent: -10000px;
    @include inline-block-list-container;
    li {
        @include inline-block-list-item(.5em);
    }
}
.header {
    border-bottom: 1px solid $gray-medium;
    background-color: $white;
}

.site-baseline {
    font-style: italic;
    font-weight: bold;
    margin: 0 auto;
    color: $white;
    background-color: $dark-footer;
    text-align: center;
    padding: 1em 0;
}
.site-baseline.header-jump {
    margin-bottom: 152px;
}

.header__nav {
    @include inline-block-list-container;
    clear: left;
    li {
        @include inline-block-list-item(1.15em);
        margin-right: .5em;
        padding-top: 1em;
        padding-bottom: 1em;
        text-align: center;
        span:not(.simple-menu-label) {
            @include adjust-font-size-to(14px);
            font-family: $serif;
            font-style: italic;
            display: block;
            }
        }
    li.active {
        color: $dark-green;
        a:link,
        a:visited {
            color: $dark-green;
        }
    }
    li.active {
        font-style: italic;
        border-bottom: 2px solid $dark-green;
    }
    li a:link,
    li a:visited {
        color: inherit;
    }
    li a:hover {
        color: $white;
    }
    li:hover {
        background-color: $dark-green;
        color: $white;
        transition: .3s;
        a:link,
        a:visited {
            color: $white;
        }
    }
}
/* Si js est actif, un bouton pour afficher/masquer le menu est créé */

#hamburger {
    position: absolute;
    top: 10px;
    right: .5em;
    padding: 0;
    background-color: $link;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    @include svg(icon_hamburger);
    height: 2.5em;
    width: 2.5em;
    border-radius: .25em;
    border: 1px solid $light-green;
    &.open {
        background-image: inline-image('icon_close.png');
        background-image: inline-image('icon_close.svg'), none;
    }
}
@media screen and(max-width: $large-screen) {
    .header {
        padding-left: .5em;
        padding-right: .5em;
        padding-bottom: 0;
    }
    .header__nav {
        margin-left: -.5em;
        margin-right: -.5em;
        li {
            display: block;
            margin-right: 0;
            border-bottom: 1px solid $white;
        }
    }
}
@media screen and(max-width: $small-screen) {
    .skip-links {
        text-align: center;
        @include adjust-font-size-to(10px);
    }
    .site-baseline {
        display: none;
    }
}
@media screen and (max-width: $medium-screen) {
    .site-title {
        font-size: 1.8em
    }
}
