.sidebar {
    @include pie-clearfix;
    padding-bottom: 2em;
    background: $white;
    color: $dark-green;
    a:link, a:visited {
        border: none;
        color: $dark-green;
    }
    h3 {
        font-size: 1.25em;
        font-weight: bold;
    }
}
a.site-title__link,
a.site-title__link:link,
a.site-title__link:visited
a.site-title__link:hover {
    background-color: transparent;
    border-color: transparent;
    color: $white;
}
.site-title__text {
    color: $white;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 2px;
}
.blognav__title,
.blogextra__title,
.home__title {
    @include visually-hidden;
}

.blognav__widgets h4,
.blogextra__widgets h4 {
    margin-top: 1.5em;
    margin-bottom: 0;
}
.blognav__widgets .widget, .blogextra__widgets .widget {
   > ul {
        @include no-bullets;
        padding-left: 0;
    }
    > nav ul {
        @include no-bullets;
        padding-left: 0;
    }
}
.accueil .blognav__widgets {
    border: $dark-footer 1px solid;
}
.blognav__widgets {
    padding: 2em 0 1em;
}
.blognav__widgets, .blogextra__widgets {
    margin-left: .75em;
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        display: block;
        padding: .25em;
    }
}
#sidebar #search {
    display: none;
}
#q {
    width: 75%;
}
.sidebar .widget {
    padding: 0 2rem 1rem;
    margin-top: 2rem;
    text-align: center;
    border: $dark-green 1px solid;
    border-radius: 5px;
    h3 {
        display: inline-block;
        font-size: 1.25em;
        text-transform: uppercase;
        color: #fff;
        font-weight: normal;
        position: relative;
        top: -1.2rem;
        min-height: 35px;
        background-color: $dark-green;
        padding: 6px 10px 7px;
        margin: auto 0 -1rem 0;
        border-radius: 10px;
    }
    ul {
        text-align: left;
    }
    li:hover, a:hover {
        background-color: $light-green;
        transition: .3s;
        color: $white;
        a {
            color: $white;
        }
        ul {
            background-color: $white;
            a {
                color: $dark-green;
            }
            li:hover a,  .category-current a {
                color: $white;
            }
        }
    }
}
.categories li ul li {
            font-style: italic;
            font-size: .9em;
            padding-left: .5em;
}
.category-current {
    background-color: $dark-green;
    .footer__widgets & {
        background-color: $gray-dark;
    }
}
.sidebar .category-current {
    color: white;
    a:link, a:visited, a:hover, a:active {
        color: white;
    }
}
ul.tags {
    @include no-bullets;
    padding-left: 0;
    margin: 0;
    line-height: 1.1;
}
.tags li {
    display: inline;
    a {
        padding-top: 3px;
    }
}
.widget.tags ul {
    line-height: 1.6;
}
li.tag-current {
    a {
        background: $dark-green;
        padding: 0 .25em;
    }
    a:link, a:visited {
        color: $white;
    }
}
.tag0 { font-size: 100%; }
.tag10 { font-size: 105%; }
.tag20 { font-size: 110%; }
.tag30 { font-size: 120%; }
.tag40 { font-size: 130%; }
.tag50 { font-size: 140%; }
.tag60 { font-size: 150%; }
.tag70 { font-size: 160%; }
.tag80 { font-size: 170%; }
.tag90 { font-size: 180%; }
.tag100 { font-size: 190%; }
.sidebar .widget.tags {
    p {
        text-align: right;
    }
    ul {
        text-align: center;
    }
}
.extratoppub {
    margin: 1em -53px 0;
    text-align: center;
    background: transparent url(img/ours_deco.png) no-repeat right;
}
.extrasidepub {
    float: left;
    margin: 1em 1em 0 0;
}
.extrasidepubcontainer {
    background-color: $gray-light;
}

@media screen and(min-width: ($small-screen + .1em)) and (max-width: $large-screen) {
    .blognav__widgets .widget, .blogextra__widgets .widget {
        width: 50%;
        float: left;
    }
}
@media screen and(min-width: ($large-screen + .1em)) and(max-width: $xlarge-screen) {
    .blognav__widgets .widget, .blogextra__widgets .widget {
        width: 33.33%;
        float: left;
    }
}
